textarea {
  height: 300px;
}

.fixed-width {
  width: 40%
}

.header {
  font-size: large;
  font-weight: bold;
  line-height: 36px;
  padding-left: 16px;
  background-color: lightblue;
}

.button {
  padding: 8px;
  border-radius: 8px;
  background-color: #ff6f68;
  color: #fff;
  height: 48px;
  width: 100px;
  font-size: x-large;
  font-weight: bold;
}

.title {
  color: white;
  margin: 0;
  padding: 1rem;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

@media (max-width: 767px){
  .App-body {
    flex-direction: column;
  }
  .fixed-width {
    width: 90%;
  }
  .button {
    margin: 16px 0;
  }
}